.true{
 display: block;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}
.false{
    display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.list{
    list-style: none;
}

.item{
    width: 200px;
    display: flex;
    border: 1px solid rgb(61, 61, 61);
    box-shadow: black;
}