.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: sans-serif;
}

.head {
    background-color: rgb(43, 174, 255);
}

.headerRow {
    background-color: rgb(43, 174, 255);
}

.headerCell {
    padding: 10px;
    text-align: left;
    color: white;
}

.rowEven {
    background-color: #a3a3a3;
}

.rowOdd {
    background-color: #e1e1e1;
}

.cell {
    padding: 10px;
    color: #333;
}